<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
	<style type="text/css">
		h2 { color:; }
		p { color: gray; }
	</style>
	
	<h2>Bonjour {{ name }} !</h2>
	<p>
		Veuillez cliquer sur ce lien pour taper votre nouveau mot de passe :<br /><br />
		<a href="{{ url }}">CMIQUEZ ICI !</a><br /><br />
		Et bonne continuation sur le site du Chapter 139 Nord-Aquitaine des Wind And Fire !<br />
		Cordialement,<br />
		le webmaster.
	</p>
</body>
</html>